<div class="background">
    <div class="content">
        <div class="container">
            <div class="banner">
                <div class="title">
                    <h1>Seja bem-vindo!</h1>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, eveniet mollitia? Quidem delectus at culpa ipsum non, asperiores quisquam voluptas dolor alias iusto voluptates minus. Perferendis fuga repellat dignissimos quo.</p>
            </div>
            <div class="login-container">
                <div class="title-login">
                    <h2>Registrar-se</h2>
                </div>
                <div class="form">
                    <form action="#" method="post">
                        <div class="input-form">
                            <label for="usuario">Usuário</label>
                            <input type="text" id="usuario"/>
                        </div>
                        <div class="input-form">
                            <label for="email">E-mail</label>
                            <input type="email" id="email"/>
                        </div>
                        <div class="input-form">
                            <label for="password">Senha</label>
                            <input type="password" id="password"/>
                        </div>
                        <div class="submit">
                            <button class="btn bnt-submit">Enviar código</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
