<div class="main-container">
    <!-- <nav class="sidebar">
        <div class="menu-button">
            <div class="icon"><i class="fa-solid fa-house"></i></div>
            <div class="icon"><i class="fa-solid fa-bars"></i></div>
            <div class="icon"><i class="fa-regular fa-moon"></i></div>
            <div class="icon"><i class="fa-regular fa-sun"></i></div>
            <div class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
        </div>
    </nav> -->

    <nav class="menu-bar">
        <div class="menu-button">
          <div class="icon"><i class="fa-solid fa-house"></i></div>
          <div class="icon"><i class="fa-solid fa-bars"></i></div>
          <div class="icon"><i class="fa-regular fa-moon"></i></div>
          <div class="icon"><i class="fa-regular fa-sun"></i></div>
          <div class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
        </div>
      </nav>

    <div class="window-container">
        <div class="info-group">
            <div class="title">
                <h2>Normas Elétricas</h2>
            </div>
            <div class="responsavel">
                <p>Matheus Henrique Knaul Calvet</p>
            </div>
            <div class="description">
                <p>Normas de ensaios elétricos Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequuntur molestiae impedit ratione excepturi consectetur itaque officiis quos libero in ducimus veritatis ab perferendis deleniti nam, alias qui odio maxime!</p>
            </div>
            <div class="estatisticas">
                <p><i class="fa-regular fa-clipboard"></i>150 Normas no total</p>
                <p><i class="fa-regular fa-circle-xmark"></i>23 Normas desatualizadas, corrigir</p>
            </div>
            <div class="man-group">
                <button class="btn-cult">Gerenciar grupo</button>
            </div>
        </div>
        <div class="gerenciamento-container">
            <div class="actions">
              <button class="btnn importar">Importar</button>
              <button class="btnn adicionar">Adicionar Norma</button>
            </div>
          
            <div class="search-bar">
              <i class="fa fa-search"></i>
              <input type="text" placeholder="Pesquisar norma...">
            </div>
          </div>

          <div class="table-container">
            <table class="modern-table">
              <thead>
                <tr>
                  <th>Norma</th>
                  <th>Descrição</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let norma of paginatedNormas">
                  <td>{{ norma.nome }}</td>
                  <td>{{ norma.descricao }}</td>
                  <td [ngClass]="{'status': true, 'conforme': norma.status === 'Conforme', 'nao-conforme': norma.status === 'Não conforme'}">
                    {{ norma.status }}
                    <i *ngIf="norma.status === 'Não conforme'" class="fa-solid fa-triangle-exclamation"></i>
                  </td>
                  <td><button class="btn-action">Acessar</button></td>
                </tr>
              </tbody>
            </table>
          
            <div class="pagination-controls">
              <button (click)="voltarPagina()" [disabled]="paginaAtual === 1">Anterior</button>
              <span>Página {{ paginaAtual }} de {{ totalPaginas }}</span>
              <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">Próxima</button>
            </div>
          </div>
          
    </div>
</div>
