.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: #151A22;
}

/* Sidebar (vertical) */

/* .sidebar{
    height: 75vh;
    margin: 20px;
    background-color: #1e1e1e;
    min-width: 50px;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.menu-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.icon{
    border-radius: 10px;
    padding: 10px;
    transition: background 0.3s;
}

.icon:hover{
    background-color: #444444;
} */


/* Menubar (horizontal) */

.menu-bar {
    width: 150vh;
    background-color: #29313C;
    padding: 10px 20px;
    color: #D9E5EC;
    border: 1px solid #737E85;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(175, 176, 250, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  
  .menu-button {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .icon {
    border-radius: 10px;
    padding: 10px;
    transition: background 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon:hover {
    background-color: #242d3b;
  }

/* General */

.btn-cult{
    background-color: #1e1e1e;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    border: 2px solid #1e1e1e;
}

/* Window Container */

.window-container{
    height: 100vh;
}

/* Info grupo */

.info-group{
    margin: 10px;
    padding: 20px;
    border: 1px solid #737E85;
    border-radius: 5px;
}

.title h2{
    font-weight: 500;
    color: #D9E5EC;
}

.responsavel p{
    margin-top: 5px;
    color: #D9E5EC;
    font-size: 14px;
}

.description p{
    margin-top: 10px;
    margin-bottom: 15px;
    color: #737E85;
    font-size: 12px;
}

.estatisticas{
    font-size: 14px;
    margin-bottom: 20px;
    color: #b2bbc0;
}

.estatisticas i{
    margin-right: 5px;
}

.btn-cult{
    background-color: #283039;
    border: 1px solid #3E4955;
    color: #D9E5EC;
}
/* Gerenciamento Container */

.gerenciamento-container {
    margin: 10px;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #29313C;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    position: relative;
}

.actions {
    position: absolute;
    left: 1rem;
    display: flex;
    gap: 0.75rem;
}

.btnn {
    background-color: #252A34;
    color: #D9E5EC;
    border: none;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    transition: background 0.3s ease;
}

.btnn:hover {
    background-color: #323947;
}

.search-bar {
    position: relative;
    max-width: 300px;
    width: 100%;

}

.search-bar i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #909ea7;
}

.search-bar input {
    width: 100%;
    padding: 0.6rem 0.6rem 0.6rem 2.5rem;
    border-radius: 8px;
    border: 1px solid #3E4955;
    background-color: #252A34;
    color: #909ea7;
    transition: border-color 0.3s ease;
}

.search-bar input:focus {
    outline: none;
    border-color: #536272;
}

/* Table Normas Container */

.table-container {
    margin: 10px;
    font-size: 12px;
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background-color: #151A22;
}

.modern-table {
    width: 100%;
    border-collapse: collapse;
    color: #D9E5EC;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 12px;
    overflow: hidden;
}

.modern-table thead {
    background-color: #29313C;
}

.modern-table th,
.modern-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.modern-table tbody tr:hover {
    background-color: #222a36;
    cursor: pointer;
}

.status {
    font-weight: bold;
    padding: 0.4rem 0.7rem;
    border-radius: 6px;
    text-align: center;
    width: fit-content;
}

.pagination-controls {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #29313C;
  }
  
  .pagination-controls button {
    padding: 0.4rem 1rem;
    background-color: #2d2d2d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .pagination-controls button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .pagination-controls button:hover:not(:disabled) {
    background-color: #3c3c3c;
  }

/* .status.conforme {
    background-color: #d0f5e1;
    color: #2e7d32;
}

.status.nao-conforme {
    background-color: #fcdede;
    color: #c62828;
} */

.btn-action {
    background-color: #252A34;
    color: #D9E5EC;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-action:hover {
    background-color: #d5d5d5;
    color: #252A34;
}

/* Linha selecionada */
.modern-table tbody tr.selected {
    background-color: #dcecfb !important;
}

