.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.sidebar{
    height: 75vh;
    margin: 20px;
    background-color: #1e1e1e;
    min-width: 50px;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.menu-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.icon{
    border-radius: 10px;
    padding: 10px;
    transition: background 0.3s;
}

.icon:hover{
    background-color: #444444;
}


.menu-button i{
    font-size: 16px;
}

/* General */

.btn-cult{
    background-color: #1e1e1e;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    border: 2px solid #1e1e1e;
}

/* Window Container */

.window-container{
    height: 100vh;
}

/* Info grupo */

.info-group{
    margin: 10px;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.title h2{
    font-weight: 500;
    color: #1e1e1e;
}

.responsavel p{
    margin-top: 5px;
    color: #2b2b2b;
    font-size: 14px;
}

.description p{
    margin-top: 10px;
    margin-bottom: 15px;
    color: #636262;
    font-size: 12px;
}

/* Man Normas Container */

.man-normas{
    margin: 10px;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

/* Table Normas Container */

.table-container{
    margin: 10px;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}


