<div class="main-container">

    <div class="menu-bar">
        <div class="list-container">
            <ul>
                <li>Painel Geral</li>
                <li>Criar Grupo</li>
                <li>Consultar Norma</li>
            </ul>
        </div>

    </div>

    <div class="container-card-grupos">
        <div class="card">
            <app-card-grupo [title]="'Lorem ipsum dolor'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quo sunt facilis impedit deleniti voluptas repellendus ea excepturi minima inventore ut nesciunt maxime tenetur tempora laborum.'"></app-card-grupo>
        </div>
        <div class="card">
            <app-card-grupo [title]="'Lorem ipsum dolor'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quo sunt facilis impedit deleniti voluptas repellendus ea excepturi minima inventore ut nesciunt maxime tenetur tempora laborum.'"></app-card-grupo>
        </div>
        <div class="card">
            <app-card-grupo [title]="'Lorem ipsum dolor'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quo sunt facilis impedit deleniti voluptas repellendus ea excepturi minima inventore ut nesciunt maxime tenetur tempora laborum.'"></app-card-grupo>
        </div>
        <div class="card">
            <app-card-grupo [title]="'Lorem ipsum dolor'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quo sunt facilis impedit deleniti voluptas repellendus ea excepturi minima inventore ut nesciunt maxime tenetur tempora laborum.'"></app-card-grupo>
        </div>
        <div class="card">
            <app-card-grupo [title]="'Lorem ipsum dolor'" [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quo sunt facilis impedit deleniti voluptas repellendus ea excepturi minima inventore ut nesciunt maxime tenetur tempora laborum.'"></app-card-grupo>
        </div>
    </div>
    
</div>


