<div class="home-container">
    <div class="top-section">
        <div class="content">
            <div class="info">
                <h1>Verificação de Normas</h1>
                <p>Verifique se as normas do seu escopo estão atualizadas</p>
            </div>
            <div class="select-scope">
                <div class="box-action">
                    <div class="box">
                        <div class="info-verification">
                            <p>Já ajudamos 10 laboratórios a verificar 1000 normas.</p>
                        </div>
                        <div class="start-verification">
                            <div class="button-container">
                                <button class="btn btn-choose-file"><i class="fa-solid fa-inbox"></i>Selecionar Escopo PDF</button>
                                <p>ou</p>
                                <button class="btn btn-choose-manual" (click)="openModal()"><i class="fa-solid fa-arrow-up-from-bracket"></i>Adicionar Manualmente</button>

                                @if(isModalOpen){
                                    <app-grupo-modal (close)=closeModal()></app-grupo-modal>
                                }

                            </div>
                            <div class="warning">
                                <p>Arraste um PDF ou arquivo TXT aqui. Tamanho máximo permitido 10MB ou <a href="">Cadastrar-se</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="marketing-container">
                <div class="card">
                    <div class="icon">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                    <div class="title">
                        <h3>30.000+ normas verificadas</h3>
                    </div>
                    <div class="description-card">
                       <p>Nós verificamos diariamente mais de 30000 normas e enviamos um alerta de atualização de novas versões para nossos clientes!</p> 
                    </div>
                </div>
                <div class="card">
                    <div class="icon">
                        <i class="fa-solid fa-flag"></i>
                    </div>
                    <div class="title">
                        <h3>Alerta garantido</h3>
                    </div>
                    <div class="description-card">
                       <p>Assim que suas normas escolhidas estiverem sendo atualizadas, enviaremos um alerta no seu email lhe fornecendo os detalhes.</p> 
                    </div>
                </div>
                <div class="card">
                    <div class="icon">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                    <div class="title">
                        <h3>Redução de serviço</h3>
                    </div>
                    <div class="description-card">
                       <p>Você não precisará mais ficar olhando norma por norma para ver se existe alguma atualização!</p> 
                    </div>
                </div>
                <div class="card">
                    <div class="icon">
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="title">
                        <h3>Fácil e rápido</h3>
                    </div>
                    <div class="description-card">
                       <p>Podemos receber o seu escopo em diferentes formas! </p> 
                    </div>
                </div>
                <div class="card">
                    <div class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <div class="title">
                        <h3>Configurações personalizadas</h3>
                    </div>
                    <div class="description-card">
                       <p>Nosso serviço já verifica quase todo tipo de norma, porém, se tiver alguma estrangeira, pode ser colocada para nossa verificação!</p> 
                    </div>
                </div>
                <div class="card">
                    <div class="icon">
                        <i class="fa-solid fa-shield-halved"></i>
                    </div>
                    <div class="title">
                        <h3>Suporte e segurança</h3>
                    </div>
                    <div class="description-card">
                       <p>Estamos sempre buscando uma melhor versão do nosso sistema para te atender melhor, sugestões são sempre muito bem vindas!</p> 
                    </div>
                </div>
            </div>
            <div class="banner">
                <div class="title">
                    <h1>Não deixe de verificar suas normas!</h1>
                </div>
                <div class="text">
                    <p>Comece hoje a não se preocupar mais com verificações das normas do seu escopo e deixe que nós realizamos este serviço!</p>
                </div>
                <button class="btn btn-cta">Veja os Planos</button>
            </div>
        </div>
    </div>
</div>