<div class="home-container">
    <div class="top-section">
        <div class="content">
            <div class="info">
                <h1>Verificação de Normas</h1>
                <p>Verifique se as normas do seu escopo estão atualizadas</p>
            </div>
            <div class="select-scope">
                <div class="box-action">
                    <div class="box">
                        <div class="info-verification">
                            <p>Já ajudamos <strong>10</strong> laboratórios a verificarem <strong>1000</strong> normas</p>
                        </div>
                        <div class="start-verification">
                            <div class="button-container">
                                <button class="btn btn-choose-file">Selecionar Escopo PDF</button>
                                <p>Ou</p>
                                <button class="btn btn-choose-manual">Adicionar Manualmente</button>
                            </div>
                            <div class="warning">
                                <p>Arraste um PDF ou arquivo TXT aqui. Tamanho máximo permitido 100MB ou <a href="">Cadastrar-se</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>